# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### 

### 

###

### 

### 

### 

### 

### 

### 

### 

### 

### 

### 

### 

###

Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [4]:
number_set={1,2,3,4,5,6,7,8,9,10}


print(number_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [5]:
number_set.add(11)
number_set.remove(1)

print(number_set)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

 Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [6]:
set1={1,2,3,4,5}
set2={2,4,6,8,10}

union=set1.union(set2)
intersect=set1.intersection(set2)
diff=set1.difference(set2)
sym_diff=set1.symmetric_difference(set2)

print(union)
print(intersect)
print(diff)
print(sym_diff)

{1, 2, 3, 4, 5, 6, 8, 10}
{2, 4}
{1, 3, 5}
{1, 3, 5, 6, 8, 10}

Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [14]:
set_comp={x**2 for x in range(1,11)}

print(set_comp)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [13]:
even_set={x for x in number_set if x%2==0}


print(even_set)

{2, 4, 6, 8, 10}

Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [15]:
dupe_set={2,4,6,3,6,4,5,7,5,8,9}

dupe_set2=dupe_set.copy()

print(dupe_set2)

{2, 3, 4, 5, 6, 7, 8, 9}

Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [17]:
first_set={1,2,3,4,5}
second_set={1,2,3}

print("first superset to second: ",first_set.issuperset(second_set))
print("second subset to first: ", second_set.issubset(first_set))

first superset to second:  True
second subset to first:  True

Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [18]:
frozen={1,2,3,4,5}

new_frozenset=frozenset(frozen)

print("Frozenset: ",new_frozenset)

Frozenset:  frozenset({1, 2, 3, 4, 5})

Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [19]:
##set creation
new_set={1,2,3,4,5}

##convert to list and append
set_to_list=list(new_set)
set_to_list.append(6)

##convert to set again
final_set=set(set_to_list)
print(final_set)

{1, 2, 3, 4, 5, 6}

Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [23]:
my_dict={frozenset([1,2]): 45 , frozenset([3,4]): 55}

print(my_dict)

{frozenset({1, 2}): 45, frozenset({3, 4}): 55}

Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [25]:
iterating_set={1,2,2,3,4,5,6,7,8,9,10}

for number in iterating_set:
    print(number)

1
2
3
4
5
6
7
8
9
10

Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [27]:
set_for_removal={1,2,3,4,5,6,7,8,9,10,11,12}

while set_for_removal:
    set_for_removal.pop()

    print(f"after removal: {set_for_removal}")

print(set_for_removal)

after removal: {2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
after removal: {3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
after removal: {4, 5, 6, 7, 8, 9, 10, 11, 12}
after removal: {5, 6, 7, 8, 9, 10, 11, 12}
after removal: {6, 7, 8, 9, 10, 11, 12}
after removal: {7, 8, 9, 10, 11, 12}
after removal: {8, 9, 10, 11, 12}
after removal: {9, 10, 11, 12}
after removal: {10, 11, 12}
after removal: {11, 12}
after removal: {12}
after removal: set()
set()

Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [32]:
set1={1,2,3,4,5}
set2={3,4,5,6,7}

new_set=set1.symmetric_difference(set2)

print(new_set)

final_set=set1.union(new_set)

print(final_set)

{1, 2, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [33]:
set_test={1,2,3,4,5,6,7,8,9,10,11,12,13,14,15}

element=int(input("Enter the element"))

if set_test.__contains__(element):
    print("Element is there")
else:
    print("the element is not there")

Element is there

Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [34]:
tuple_set={(1,2),(3,4),(5,6)}

print(tuple_set)

{(1, 2), (3, 4), (5, 6)}